{% extends "base.html" %}
{% load static i18n account socialaccount %}

{% block title %}{% translate "Sign Up" %}{% endblock title %}
{% block navbar %}{% endblock navbar %}

{% block content %}
  <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-login" >



    <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-xl shadow-md">
      <div class="flex justify-between items-center">
        <a href="{% url "home" %}">
          <img src="{% static 'assets/logo.png' %}" alt="Hack Canada" class="h-12 w-auto">
        </a>

        <div class="text-right">
          <div class="flex justify-end mt-2">
            <img src="{% static 'assets/canada.png' %}" alt="Canadian Flag" class="h-6">
          </div>
          <h2 class="text-3xl font-extrabold text-gray-900">Welcome.</h2>
        </div>
      </div>
      <form class="mt-8 space-y-6" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="id_username" class="sr-only">{% translate "Username" %}</label>
            <input id="id_username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="{% translate 'Username' %}">
          </div>
          <div>
            <label for="id_email" class="sr-only">{% translate "Email" %}</label>
            <input id="id_email" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="{% translate 'Email' %}">
          </div>
          <div>
            <label for="id_password1" class="sr-only">{% translate "Password" %}</label>
            <input id="id_password1" name="password1" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="{% translate 'Password' %}">
          </div>
          <div>
            <label for="id_password2" class="sr-only">{% translate "Confirm Password" %}</label>
            <input id="id_password2" name="password2" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm" placeholder="{% translate 'Confirm Password' %}">
          </div>
        </div>

        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            {% translate "Sign Up" %}
          </button>
        </div>
      </form>

      {% include "snippets/provider_list.html" %}

      <div class="text-sm text-center">
        <a href="{% url 'account_login' %}" class="font-medium text-red-600 hover:text-red-500">
          {% translate "Already have an account? Log in" %}
        </a>
      </div>
    </div>
  </div>
{% endblock %}