hackathons_canada/local_settings.py
hackathons_canada/local_settings.py
*.pyc
.env
*.sqlite3
celerybeat-schedule
venv
.venv
.vscode

.prettierignore
/media/hackathon_images

*.log

celerybeat-*

settings/environments/local.py
