# The Caddyfile is an easy way to configure your Caddy web server.## Unless the file starts with a global options block, the first# uncommented line is always the address of your site.## To use your own domain name (with automatic HTTPS), first make# sure your domain's A/AAAA DNS records are properly pointed to# this machine's public IP, then replace ":80" below with your# domain name.#hackathonscanada.com {    tls ontariohackers@jasoncameron.dev    handle_path /static/* {        root * /srv/static        file_server    }    reverse_proxy 127.0.0.1:22300}flower.hackathonscanada.com {    basicauth {        Json "$2a$14$tHXzru.BG8pd7QGtGf14nen3/DREe5GbIdQLnfNK7nKOdiRDVIywm"    }    tls ontariohackers@jasoncameron.dev    reverse_proxy 127.0.0.1:5557}