services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: /scripts/django/start
    ports:
      - "22300:22300"
    volumes:
      - ${PWD}/hackathons_canada/local_settings.py:/app/hackathons_canada/local_settings.py:ro
      - /srv/static:/app/static2
      - /srv/media:/app/media
      - ./logs/:/logs/
    depends_on:
      - valkey
    env_file:
      - .env
    restart: unless-stopped

  valkey:
    image: "valkey/valkey:7.2-alpine"
    restart: always
  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile
    image: celery_worker
    command: /scripts/celery/worker/start
    volumes:
      - .:/app
      - ./logs/:/logs/
    env_file:
      - .env
    depends_on:
      - valkey
    healthcheck:
      test: ["CMD", "/opt/pysetup/.venv/bin/celery", "worker", "-A", "dischannelsaver", "--loglevel=info"]
      interval: 10s
      retries: 5

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    image: celery_beat
    command: /scripts/celery/beat/start
    volumes:
      - .:/app
      - ./logs/:/logs/
    env_file:
      - .env
    depends_on:
      - valkey
    healthcheck:
      test: ["CMD", "/opt/pysetup/.venv/bin/celery", "beat", "-A", "dischannelsaver", "--loglevel=info"]
      interval: 10s
      retries: 5

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    image: flower
    command: /scripts/flower/start
    volumes:
      - .:/app
      - ./logs/:/logs/
    env_file:
      - .env
    ports:
      - 5557:5555
    depends_on:
      - valkey

volumes:
  static_volume:
  media_volume:
