pandas>=2.2.1
django>=5.0.0
django-countries[pyuca]
Pillow>=10.2.0
discord.py
django-allauth>=0.61.1
celery[redis]>=5.3.6
docker>=5.0.0
flower>=2.0.1
redis>=5.0.1
django-location-field>=2.7.3
django-crispy-forms
