{% extends 'base.html' %} {% block content %} {% load static %}
  <main>
    <section class="banner">
      <img src="{% static 'assets/banner.png' %}" alt="Banner Image"/>
    </section>
    <section class="search">
      <div class="search-bar">
        <div>
          <p>Where</p>
          <input type="text" placeholder="Search countries"/>
        </div>
        <div>
          <p>Start</p>
          <input type="date" placeholder="Start date"/>
        </div>
        <div>
          <p>End</p>
          <input type="date" placeholder="End date"/>
        </div>
        <div>
          <p>Age</p>
          <input type="number" placeholder="Age Requirement" min="0"/>
        </div>
        <div>
          <label for="education_choices">Education</label>
          <select name="education_choices" id="education_choices">
            <option value="Middle School">Middle School</option>
            <option value="High School">High School</option>
            <option value="University/College">University/College</option>
            <option value="Graduated University/College">
              Graduated University/College
            </option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div>
          <label for="travel_coverage">Travel</label>
          <select name="travel_coverage" id="travel_coverage">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="Any">Any</option>
          </select>
        </div>
        <button>
          <img src="{% static 'assets/lens.png' %}" alt="Search"/>
        </button>
      </div>
    </section>
    <section class="filters">
      <div class="filter-option">
        <img
          src="{% static 'assets/canada.png' %}"
          alt="Canada"
          class="region-image"
        />
        <p>Canada</p>
      </div>
      <div class="filter-option">
        <img
          src="{% static 'assets/united_states.png' %}"
          alt="United States"
          class="region-image"
        />
        <p>United States</p>
      </div>
      <div class="filter-option">
        <img
          src="{% static 'assets/world_wide.png' %}"
          alt="World Wide"
          class="region-image"
        />
        <p>World Wide</p>
      </div>
      <div class="filter-option">
        <img
          src="{% static 'assets/online.png' %}"
          alt="Online"
          class="region-image"
        />
        <p>Online</p>
      </div>
    </section>
  </main>
  <div class="text-center album">
    <div class="container-fluid">
      <div
        class="mt-5 row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-center"
      >

        {% if type == "list" %}
          <div class="w-full px-24">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
              <thead class="text-xs text-gray-700 border-b-2 bo">
                <tr class="">
                  <th scope="col" class="pr-6 py-3 text-gray-700 text-lg font-semibold text-center">
                    Saved
                  </th>
                  <th scope="col" class="px-6 py-3 text-gray-700 text-lg font-semibold">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-gray-700 text-lg font-semibold">
                    Website
                  </th>
                  <th scope="col" class="px-6 py-3 text-gray-700 text-lg font-semibold">
                    Date
                  </th>
                  <th scope="col" class="px-6 py-3 text-gray-700 text-lg font-semibold">
                    Location
                  </th>
                  <th scope="col" class="px-6 py-3 text-gray-700 text-lg font-semibold">
                    Rating
                  </tr>
                </thead>
                <tbody class="">
                  {% for hackathon in hackathons %}
                    <tr class="bg-white border-b-2 dark:bg-gray-800 dark:border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td scope="row" class="pr-6 py-2">
                        {% if user.is_authenticated %}
                          <script src="../../static/js/hackathons.js"></script>
                          <button type="button" onclick="saveHackathon(event, '{{ hackathon.id }}')">Save</button>
                        {% else %}
                    {#<p class="m-3 text-xs"><em>Login to save</em></p>#}
                          <label class="relative flex items-center justify-center">
                            <input
                              class="peer appearance-none w-6 h-6 border-2 border-gray-400 rounded duration-200 ease-in-out checked:bg-[#e5462e] checked:border-[#e5462e] cursor-pointer active:scale-75"
                              type="checkbox">
                            <span class="absolute w-6 h-6 flex items-center justify-center text-white font-bold scale-0 duration-200 ease-in-out peer-checked:scale-125">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                   viewBox="0 0 12 12">
                                <path fill="#FFFFFF"
                                      d="M9.765 3.205a.75.75 0 0 1 .03 1.06l-4.25 4.5a.75.75 0 0 1-1.075.015L2.22 6.53a.75.75 0 0 1 1.06-1.06l1.705 1.704l3.72-3.939a.75.75 0 0 1 1.06-.03"></path>
                              </svg>
                            </span>
                          </label>
                        {% endif %}

                      </td>
                      <th class="px-6 py-2 font-medium whitespace-nowrap">
                        <div class="flex items-center gap-2 text-gray-700">
                          {% if hackathon.bgimage %}
                            <img src="{{ hackathon.bg_image }}" alt="{{ hackathon.name }}" class="h-10 w-auto">
                          {% else %}
                            <img src="{{ hackathon.fg_image }}" alt="{{ hackathon.name }}" class="h-10 rounded-md w-auto">
                          {% endif %}
                          {{ hackathon.name }}
                        </div>
                      </th>
                      <td class="px-6 py-2">
                        <a href="{{ hackathon.website }}" target="_blank"
                           class="font-medium text-white bg-[#e5462e] p-2 rounded-md duration-200 ease-in-out hover:scale-105 hover:bg-[#c43c27] inline-block rotate-[0.01deg]">
                          Learn More
                        </a>
                      </td>
                      <td class="px-6 py-2 pres text-gray-700">
                        {{ hackathon.start_date|date:"M d, Y" }}
                  <pre class="inline">-</pre>
                        {{ hackathon.end_date|date:"M d, Y" }}
                      </td>
                      <td class="px-6 py-2 text-gray-700">
                        {{ hackathon.location.name }}
                      </td>
                      <td class="px-6 py-2">
                        <div class="flex items-center">
                          <div>
                            <label class="relative flex items-center">
                              <input
                                class="peer appearance-none w-6 h-6"
                                type="checkbox">
                              <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#e5462e] *:stroke-gray-500 peer-checked:*:stroke-[#e5462e] active:scale-75">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     class="h-6 w-6 fill-gray-300 duration-200">
                                  <path class="stroke-2"
                                        d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14"></path>
                                </svg>
                              </span>
                            </label>
                          </div>
                          <p class="text-lg min-w-16 ml-1 text-gray-700">1234</p>
                          <label class="relative flex items-center">
                            <input
                              class="peer appearance-none w-6 h-6"
                              type="checkbox">
                            <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#9393ff] *:stroke-gray-500 peer-checked:*:stroke-[#9393ff] active:scale-75">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                   class="h-6 w-6 fill-gray-300 duration-200">
                                <path class="stroke-2"
                                      d="M20.901 10.566A1 1 0 0 0 20 10h-4V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v7H4a1.001 1.001 0 0 0-.781 1.625l8 10a1 1 0 0 0 1.562 0l8-10c.24-.301.286-.712.12-1.059"></path>
                              </svg>
                            </span>
                          </label>
                          <p class="text-lg min-w-16 ml-1 text-gray-700">1234</p>
                        </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% elif type == "calendar" %}
          <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
          <script>
            var hackathonData = JSON.parse('{{ hackathonCalData|escapejs }}');
            var render_data = hackathonData.map(function (hackathon) {
              return {
                title: hackathon.title,
                start: hackathon.start,
                end: hackathon.end,
                url: hackathon.url
              };
            });
            document.addEventListener('DOMContentLoaded', function () {
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: render_data,
                views: {
                  dayGrid: {
                    // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
                  },
                  timeGrid: {
                    // options apply to timeGridWeek and timeGridDay views
                  },
                  week: {
                    // options apply to dayGridWeek and timeGridWeek views
                  },
                  day: {
                    // options apply to dayGridDay and timeGridDay views
                  }
                }
              });
              calendar.render();
            });

          </script>

          <div id='calendar' class="my-5"></div>
        {% else %}
          {% for hackathon in hackathons %}
            <div class="p-4 col flip-card lockedheight">
              <div class="flip-card-inner">
                <a href="{{ hackathon.url }}">
                  <div class="flip-card-front">
                    <div class="hackathon-card">
                      {% if hackathon.bgimage %}
                        <img class="hackathon-img-front" src="{{ hackathon.bg_image }}" alt="{{ hackathon.name }}">
                      {% else %}
                        <img class="hackathon-img-front" src="{{ hackathon.fg_image }}" alt="{{ hackathon.name }}">
                      {% endif %}

                      <div class="flex flex-col mt-3 align-middle hackathon-content justify-items-center">
                        <h2 class="pt-2 text-3xl">{{ hackathon.name }}</h2>
                        <h6 class="text-base">
                          {{ hackathon.location.name }}
                        </h6>
                        <h5 class="text-lg">
                          {{ hackathon.start_date |date:"N-d"}}-
                          {{ hackathon.start_date|date:"d, Y"}}
                        </h5>
                      </div>
                      {% if user.is_authenticated %}
                        <script src="../../static/js/hackathons.js"></script>
                        <button type="button" onclick="saveHackathon(event, '{{ hackathon.id }}')">Save</button>
                      {% else %}
                        <p class="absolute bottom-0 right-0 m-3 text-xs"><em>Login to save</em></p>
                      {% endif %}
                    </div>
                  </div>
                  </a
                  >
                  <div class="flip-card-back">
                    <div class="hackathon-card">
                      <div class="card-image-overlay"></div>
                      <img
                        src="https://s3.amazonaws.com/assets.mlh.io/events/splashes/000/212/657/thumb/Backsplash_300.png?1688131132"
                        class="hackathon-img-back"
                        alt="Front Image"
                      />
                      <div class="hackathon-card-div">
                        <div class="hackathon-card-div-text">
                          <h6 class="">Waterloo, ON | May 17-19, 2024</h6>
                          <h3 class="">HawkHacks</h3>
                        </div>
                      </div>
                      <div class="card-body-layout">
                        <p class="card-body-text">Application Deadline: 2345</p>
                        <p class="card-body-text">Travel Reimbursements: 3245</p>
                        <p class="card-body-text">Travel Reimbursements: 3245</p>
                        <p class="card-body-text">Travel Reimbursements: 3245</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% if is_paginated %}
                <div class="pagination">
                  <span class="step-links">
                    {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                  </span>
                </div>
              {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
