{% extends 'base.html' %} {% block content %} {% load static %}
  <main>
    <section class="banner">
      <img src="{% static 'assets/banner.png' %}" alt="Banner Image"/>
    </section>
    <div class="relative z-10 flex flex-col items-center justify-center h-full mt-14">

      <!-- Search Form -->
      <form
        action="{% url 'hackathons' %}"
        method="GET"
        class="flex items-center w-full max-w-4xl px-6 py-6 my-6 space-x-4 bg-white rounded-md shadow-lg"
      >
        <!-- Where -->
        <div class="flex-1">
          <label class="block text-sm font-medium text-gray-600" for="where">Where</label>
          <input
            type="text"
            id="city"
            name="city"
            value="{{ request.GET.city }}"
            placeholder="Search  cites/state/region"
            class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
        </div>

        <!-- Start Date -->
        <div class="flex-1">
          <label class="block text-sm font-medium text-gray-600" for="start">Start</label>
          <input
            type="date"
            id="start"
            name="start"
            value="{{ request.GET.start }}"
            class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
        </div>

        <!-- End Date -->
        <div class="flex-1">
          <label class="block text-sm font-medium text-gray-600" for="end">End</label>
          <input
            type="date"
            id="end"
            name="end"
            value="{{ request.GET.end }}"
            class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
        </div>

        <!-- Distance -->
        <div class="flex-1">
          <label class="block text-sm font-medium text-gray-600" for="end">Near ME</label>
          <input
            id="near"
            name="near"
            value="{{ request.GET.end }}"
            class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none"
          />
        </div>

        <input type="hidden" name="view_type" value="{{ request.GET.view_type|default:'' }}">
        <input type="hidden" name="country" value="{{ request.GET.country|default:'' }}">

        <!-- Search Button -->
        <div>
          <button
            type="submit"
            class="{% if type == 'calendar' %}text-blue-500 bg-white{% endif %} px-6 py-2 text-sm font-semibold text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 focus:outline-none"
          >
            Search
          </button>
        </div>

      </form>
    </div>
  </main>



  <div class = "flex flex-row justify-between pb-3 mx-12 mt-3 text-black border-b-2 border-gray-500 w-ful">
    <div class="inline-flex p-1 mx-5 bg-gray-100 border border-gray-100 rounded-lg">
      <a href="{% url 'hackathons' %}?view_type=calendar&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
         class="{% if type == 'calendar' %}text-blue-500 bg-white{% endif %}  inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative"
      >


        Calendar
      </a>

      <a
        href="{% url 'hackathons' %}?view_type=cards&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if type == 'cards' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative"
      >


        Cards
      </a>

      <a
        href ="{% url 'hackathons' %}?view_type=list&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if type == 'list' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm  rounded-md focus:relative"
      >


        List
      </a>
    </div>

    <div class="inline-flex p-1 mx-5 bg-gray-100 border border-gray-100 rounded-lg">
      <a
        href ="{% url 'hackathons' %}?view_type={{ request.GET.view_type|default:'none' }}&country=Canada&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if country == 'Canada' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative"
      >


        Canada
      </a>

      <a
        href="{% url 'hackathons' %}?view_type={{ request.GET.view_type|default:'none' }}&country=United States&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if country == 'United States' %} text-blue-500 bg-white {% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative"
      >
        United States
      </a>

      <a
        href="{% url 'hackathons' %}?view_type={{ request.GET.view_type|default:'none' }}&country=Online&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if country == 'Online' %} text-blue-500 bg-white {% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm focus:relative text-gray-500 rounded-md hover:text-gray-700 "
      >
        Online
      </a>
      <a
        href="{% url 'hackathons' %}?view_type={{ request.GET.view_type|default:'none' }}&country=World&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
        class="{% if type == 'World' %} text-blue-500 bg-white {% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm focus:relative text-gray-500 rounded-md hover:text-gray-700 "
      >


        Wrold Wide
      </a>
    </div>

  </div>

  <div class="text-center album">
    <div class="container-fluid">
      <div
        class="mt-2 row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-center"
      >
        {% if type == "calendar" %}



          <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
          <script>
            var hackathonData = JSON.parse('{{ hackathons|escapejs }}');
            var render_data = hackathonData.map(function (hackathon) {
              return {
                title: hackathon.title,
                start: hackathon.start,
                end: hackathon.end,
                url: hackathon.url
              };
            });
            document.addEventListener('DOMContentLoaded', function () {
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: render_data,
                views: {
                  dayGrid: {
                    // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
                  },
                  timeGrid: {
                    // options apply to timeGridWeek and timeGridDay views
                  },
                  week: {
                    // options apply to dayGridWeek and timeGridWeek views
                  },
                  day: {
                    // options apply to dayGridDay and timeGridDay views
                  }
                }
              });
              calendar.render();
            });

          </script>

          <div class = "flex flex-col">
            <a class="inline-block" href="{% url 'calednar_genator' %}?country={{ request.GET.country }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"> Export to Calendar</a>
            <div id='calendar' class="my-5"></div>
          </divc>






        {% elif type == "list" %}
          <div class="w-full px-24">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
              <thead class="text-xs text-gray-700 border-b-2 bo">
                <tr class="">
                  <th scope="col" class="py-3 pr-6 text-lg font-semibold text-center text-gray-700">
                    Saved
                  </th>
                  <th scope="col" class="px-6 py-3 text-lg font-semibold text-gray-700">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3 text-lg font-semibold text-gray-700">
                    Website
                  </th>
                  <th scope="col" class="px-6 py-3 text-lg font-semibold text-gray-700">
                    Date
                  </th>
                  <th scope="col" class="px-6 py-3 text-lg font-semibold text-gray-700">
                    Location
                  </th>
                  <th scope="col" class="px-6 py-3 text-lg font-semibold text-gray-700">
                    Rating
                  </tr>
                </thead>
                <tbody class="">
                  {% for hackathon in hackathons %}
                    <tr class="bg-white border-b-2 dark:bg-gray-800 dark:border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td scope="row" class="py-2 pr-6">
                        {% if user.is_authenticated %}
                          <script src="../../static/js/hackathons.js"></script>
                          <button type="button" onclick="saveHackathon(event, '{{ hackathon.id }}')">Save</button>
                        {% else %}
                    {#<p class="m-3 text-xs"><em>Login to save</em></p>#}
                          <label class="relative flex items-center justify-center">
                            <input
                              class="peer appearance-none w-6 h-6 border-2 border-gray-400 rounded mdration-200 ease-in-out checked:bg-[#e5462e] checked:border-[#e5462e] cursor-pointer active:scale-75"
                              type="checkbox">
                            <span class="absolute flex items-center justify-center w-6 h-6 font-bold text-white duration-200 ease-in-out scale-0 peer-checked:scale-125">
                              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                   viewBox="0 0 12 12">
                                <path fill="#FFFFFF"
                                      d="M9.765 3.205a.75.75 0 0 1 .03 1.06l-4.25 4.5a.75.75 0 0 1-1.075.015L2.22 6.53a.75.75 0 0 1 1.06-1.06l1.705 1.704l3.72-3.939a.75.75 0 0 1 1.06-.03"></path>
                              </svg>
                            </span>
                          </label>
                        {% endif %}

                      </td>
                      <th class="px-6 py-2 font-medium whitespace-nowrap">
                        <div class="flex items-center gap-2 overflow-scroll text-gray-700 max-w-1/6">
                          {% if hackathon.bgimage %}
                            <img src="{{ hackathon.bg_image }}" alt="{{ hackathon.name }}" class="w-auto h-10">
                          {% else %}
                            <img src="{{ hackathon.fg_image }}" alt="{{ hackathon.name }}" class="w-auto h-10 rounded-md">
                          {% endif %}
                          {{ hackathon.name }}
                        </div>
                      </th>
                      <td class="px-6 py-2">
                        <a href="{{ hackathon.website }}" target="_blank"
                           class="text-xs text-white bg-[#e5462e] px-1 py-2 rounded-md duration-200 ease-in-out hover:scale-105 hover:bg-[#c43c27] inline-block rotate-[0.01deg]">
                          Website
                        </a>
                      </td>
                      <td class="px-6 py-2 text-gray-700 pres">
                        {{ hackathon.start_date|date:"M d" }}
                  <pre class="inline">-</pre>
                        {{ hackathon.end_date|date:"d, Y" }}
                      </td>
                      <div class="overflow-scroll">
                        <td class="py-2 text-sm text-gray-700">
                          {{ hackathon.location.name }}

                        </td>
                      </div>
                      <td class="px-6 py-2">
                        <div class="flex items-center">
                          <script src="../../static/js/hackathons.js"></script>


                          <button type="button" class="relative flex items-center"
                                  onclick="voteHackathon(event, '{{ hackathon.id }}', 'true')">
                            <input
                              class="w-6 h-6 appearance-none peer"
                              type="checkbox">
                            <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#e5462e] *:stroke-gray-500 peer-checked:*:stroke-[#e5462e] active:scale-75">
                              <svg  id = "{{hackathon.id }}-up" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                   class="w-6 h-6 duration-200 {% if user_vote.hackathon.idj == True %} fill-black{% else %}fill-white {% endif %}">
                                <path class="stroke-2"
                                      d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14"></path>
                              </svg>
                            </span>
                          </button>

                          <p id = "{{hackathon.id }}-up-text" class="ml-1 text-lg text-gray-700 min-w-16">{{ hackathon.count_upvotes }}</p>
                          <button type="button" class="relative flex items-center"
                                  onclick="voteHackathon(event, '{{ hackathon.id }}', 'false')">
                            <input
                              class="w-6 h-6 appearance-none peer"
                              type="checkbox">
                            <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#e5462e] *:stroke-gray-500 peer-checked:*:stroke-[#e5462e] active:scale-75">
                              <svg  id = "{{hackathon.id }}-down" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                   class="rotate-180 w-6 h-6 duration-200 {% if user_vote.hackathon.idj == False %}fill-black{% else %}fill-white {% endif %}">
                                <path class="stroke-2"
                                      d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14"></path>
                              </svg>
                            </span>
                          </button>
                          <p id = "{{hackathon.id }}-down-text" class="ml-1 text-lg text-gray-700 min-w-16">{{ hackathon.count_downvotes }}</p>

                        </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% else %}
          {% for hackathon in hackathons %}
            <div class="relative p-4 rotate-0 col flip-card lockedheight preserve-3d">
              <div class="ease-in-out cursor-pointer flip-card-inner">
                {# Set default rotation to 0 deg to fix weird firefox bug#}
                <div class="flip-card-front duration-[0.4s] [transform:rotateY(0deg)]"
                     onclick="this.classList.toggle('flipped'); this.nextElementSibling.classList.toggle('flipped')">
                  <div class="hackathon-card">
                    {% if hackathon.bgimage %}
                      <img class="hackathon-img-front" src="{{ hackathon.bg_image }}" alt="{{ hackathon.name }}">
                    {% else %}
                      <img class="hackathon-img-front" src="{{ hackathon.fg_image }}" alt="{{ hackathon.name }}">
                    {% endif %}

                    <div class="flex flex-col mt-3 align-middle hackathon-content justify-items-center">
                      <h2 class="h-12 pt-2 overflow-auto text-3xl">{{ hackathon.name }}</h2>
                      <h6 class="text-base">
                        {{ hackathon.location.name }}
                      </h6>
                      <h5 class="text-lg">
                        {{ hackathon.start_date |date:"N-d"}}-
                        {{ hackathon.start_date|date:"d, Y"}}
                      </h5>
                    </div>
                    <div class="relative flex flex-row items-center justify-center my-2">
                      <script src="../../static/js/hackathons.js"></script>

                      {% if user.is_authenticated %}
                        <script src="../../static/js/hackathons.js"></script>
                        <button type="button" onclick="saveHackathon(event, '{{ hackathon.id }}')">Save</button>
                      {% else %}
                        <p class="absolute bottom-0 right-0 m-3 text-xs"><em>Login to save</em></p>
                      {% endif %}

                      <button type="button" class="relative flex items-center ml-3"
                              onclick="voteHackathon(event, '{{ hackathon.id }}', 'true')">
                        <input
                          class="w-6 h-6 appearance-none peer"
                          type="checkbox">
                        <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#e5462e] *:stroke-gray-500 peer-checked:*:stroke-[#e5462e] active:scale-75">
                          <svg  id = "{{hackathon.id }}-up" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                               class="w-6 h-6 duration-200 {% if user_vote.hackathon.idj == True %} fill-black{% else %}fill-white {% endif %}">
                            <path class="stroke-2"
                                  d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14"></path>
                          </svg>
                        </span>
                      </button>

                      <p id = "{{hackathon.id }}-up-text" class="mx-1 ml-1 text-lg text-gray-700">{{ hackathon.count_upvotes }}</p>
                      <button type="button" class="relative flex items-center ml-3"
                              onclick="voteHackathon(event, '{{ hackathon.id }}', 'false')">
                        <input
                          class="w-6 h-6 appearance-none peer"
                          type="checkbox">
                        <span class="absolute cursor-pointer w-6 h-6 flex items-center justify-center text-white font-bold duration-200 ease-in-out peer-checked:*:fill-[#e5462e] *:stroke-gray-500 peer-checked:*:stroke-[#e5462e] active:scale-75">
                          <svg  id = "{{hackathon.id }}-down" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                               class="rotate-180 w-6 h-6 duration-200 {% if user_vote.hackathon.idj == False %}fill-black{% else %}fill-white {% endif %}">
                            <path class="stroke-2"
                                  d="M4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14"></path>
                          </svg>
                        </span>
                      </button>
                      <p id = "{{hackathon.id }}-down-text" class="mx-1 ml-1 text-lg text-gray-700">{{ hackathon.count_downvotes }}</p>

                    </div>

                  </div>
                </div>
                {# Set default rotation to 0 deg to fix weird firefox bug#}
                <div class="flip-card-back duration-[0.4s] flipped [transform:rotateY(0deg)]"
                     onclick="this.classList.toggle('flipped'); this.previousElementSibling.classList.toggle('flipped')">
                  <div class="hackathon-card">
                    <div class="card-image-overlay"></div>
                    {% if hackathon.bgimage %}
                      <img class="hackathon-img-back" src="{{ hackathon.bg_image }}" alt="{{ hackathon.name }}">
                    {% else %}
                      <img class="hackathon-img-back" src="{{ hackathon.fg_image }}" alt="{{ hackathon.name }}">
                    {% endif %}
                    <div class="hackathon-card-div">
                      <div class="relative top-[65%] text-start px-3">
                        <h6 class="text-lg text-gray-200">{{ hackathon.location.name }} | {{ hackathon.start_date |date:"N-d"}}-
                          {{ hackathon.start_date|date:"d, Y"}}</h6>
                        <h3 class="text-3xl font-semibold text-white">{{ hackathon.name }}</h3>
                      </div>
                    </div>
                    <div class="card-body-layout align-items-start">
                      <p class="card-body-text">Application: <span class="font-semibold text-red-600">{{ hackathon.start_date |date:"N-d"}}-
                        {{ hackathon.start_date|date:"d, Y"}}</span></p>
                      <p class="card-body-text">Education: High School, University</p>
                      <p class="card-body-text">Age Requirement: 14+</p>
                      <p class="card-body-text">Travel Reimbursements: Yes</p>
                      <a href="{{ hackathon.website }}" class="card-body-text">Website</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
