{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block title %} Saved Hackathons {% endblock title %} {% block content %}
  {% if saved_hackathons %}
    <div class="hidden w-full min-h-screen px-4 pt-12 md:block xl:px-24">
      <table class="w-full text-sm text-left text-black bg-gray-100 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 border-b-2">
          <tr>
            <th scope="col" class="py-3 text-lg font-semibold text-center text-gray-700 lg:px-6">
              <span class="hidden lg:block">Save</span>
            </th>
            <th scope="col" class="py-3 text-lg font-semibold text-gray-700 lg:px-6">Name</th>
            <th scope="col" class="hidden px-6 py-3 text-lg font-semibold text-gray-700 lg:block">Website</th>
            <th scope="col" class="py-3 text-lg font-semibold text-gray-700 lg:px-6">Date</th>
            <th scope="col" class="py-3 text-lg font-semibold text-gray-700 lg:px-6">Location</th>
            <th scope="col" class="py-3 text-lg font-semibold text-gray-700 lg:px-6">Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for hackathon in saved_hackathons %}
            <tr class="bg-gray-100 border-b-2 border-gray-200">
              <td class="flex items-center justify-center py-2">
                <button id="{{ hackathon.id }}-save"
                        class="mx-auto px-3 py-2 rounded-md duration-200 ease-in-out hover:bg-gray-200 hover:text-black hover:scale-105  bg-[#e5462e] text-white"
                        type="button"
                        onclick="{% if user.is_authenticated %}saveHackathon(event, '{{ hackathon.id }}'){% else %}addLoginPop(){% endif %}">
                  {% if hackathon.user_saved %}Saved{% else %}Save{% endif %}
                </button>
              </td>
              <th class="py-2 font-medium lg:px-6">
                <div class="flex items-center max-w-xs gap-2 overflow-hidden text-gray-700 lg:max-w-1/6">
                  <img src="{{ hackathon.bg_image|default:hackathon.fg_image }}" alt="{{ hackathon.name }}"
                       class="w-auto h-10 rounded-md">
                  <span class="hidden lg:block">
                    {{ hackathon.name }}
                  </span>
                  <a class="pr-2 lg:hidden" href={{ hackathon.website }} rel="norefer" target="_blank">
                    {{ hackathon.name }}
                  </a>
                </div>
              </th>
              <td class="hidden px-6 py-2 lg:block">
                <a href="{{ hackathon.website }}" target="_blank"
                   class="text-xs text-black bg-white py-2 rounded-md duration-200 ease-in-out hover:scale-105 hover:bg-gray-200 inline-block rotate-[0.01deg]">
                  Website
                </a>
              </td>
              <td class="py-2 text-gray-700 lg:px-6 pres min-w-36">
                {{ hackathon.start_date|date:"M d" }} - {{ hackathon.end_date|date:"d, Y" }}
              </td>
              <td class="py-2 text-sm text-gray-700 lg:px-6">
                {{ hackathon.location.name }}
              </td>
              <td class="py-2 lg:px-6">
                {% include "components/vote_buttons.html" with hackathon=hackathon %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="w-full min-h-screen px-2 pt-12 md:hidden lg:px-24">
      <table class="w-full text-sm text-left text-black rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 border-b-2">
          <tr>
          </thead>
          <tbody>
            {% for hackathon in saved_hackathons %}
              <tr class="bg-white border-b-2 border-gray-200">
                <th class="px-2 py-2 font-medium">
                  <div class="flex items-center max-w-xs gap-2 text-gray-700 lg:max-w-1/6">
                    <img src="{{ hackathon.bg_image|default:hackathon.fg_image }}" alt="{{ hackathon.name }}"
                         class="w-auto h-10 rounded-md">
                    <a href={{ hackathon.website }} rel="noreferrer" target="_blank">{{ hackathon.name }}</a>
                  </div>
                  <div class="flex items-center justify-between gap-4">
                    <button id="{{ hackathon.id }}-save"
                            class="rounded-md duration-200 ease-in-out hover:bg-gray-200 hover:text-black hover:scale-105  bg-[#e5462e] text-white"
                            type="button"
                            onclick="{% if user.is_authenticated %}saveHackathon(event, '{{ hackathon.id }}'){% else %}addLoginPop(){% endif %}">
                      {% if hackathon.user_saved %}Saved{% else %}Save{% endif %}
                    </button>
                    <span>
                      {{ hackathon.start_date|date:"M d" }} - {{ hackathon.end_date|date:"d, Y" }}, {{ hackathon.location.name }}
                    </span>
                    <div>
                      {% include "components/vote_buttons.html" with hackathon=hackathon %}
                    </div>
                  </div>
                </th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  {% else %}
    <div class="flex justify-center h-screen my-auto bg-gray-100">
      <h1 class="mx-auto mt-20 text-2xl font-bold">None</h1>
    </div>
  {% endif %}

{% endblock content %}
