* {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.main-bg-login-layout {
  background: url("../assets/login.jpg") lightgray -1496.239px 0px / 194.839% 100%
              no-repeat;
}
.main-section-layout {
  border-radius: 18px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    107deg,
    rgba(255, 255, 255, 0.7) -6.41%,
    rgba(221, 231, 255, 0.7) 100%
  );
  box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14.75px);
}

.main-header-text {
  color: #2c2022;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main-input-layout {
  border-radius: 18px;
  border: 0.5px solid #000;
  background: linear-gradient(180deg, #e4ebbe 0%, #f7fcda 100%);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
  width: 49px;
  height: 36px;
  flex-shrink: 0;
  display: flex;
}

.main-button-layout {
  border-radius: 10px;
  background: linear-gradient(90deg, #ff5a50 0%, #ef233c 100%);
  box-shadow: 0px 0px 12px -1px #eb5757;
}
