* {
  color: #000000;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.inter-headtext {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 530;
  font-style: normal;
  font-size: 85px;
  font-variation-settings: "slnt" 0;
}

.inter-bodytext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 25px;
  font-variation-settings: "slnt" 0;
}

.inter-mintext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 60px;
  font-variation-settings: "slnt" 0;
}

.intro-text {
  max-width: 1200px;
  padding-top: 100px;
}

.hero-text {
  max-width: 800px;
}
a {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  color: #000000;
  background-color: #e4e4e4;
}

.nav-bar span {
  color: #000000;
}

.nav li {
  color: #e60303;
}

.team-form {
  color: #424040;
}

.card-header-color {
  color: #ffffff;
}


.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-radius: 30px;
  outline: 10px solid #000;
}

.lockedheight {
  height: 420px;
  max-width: 400px;
}

.roundedcards {
  border-radius: 30px;
}


.introtext {
  color: #ffffff;
}

.Canada {
  display: block;
}
.Online {
  display: block;
}
.United {
  display: block;
}

.navbarchoice {
  background-color: black;
  border-radius: 50px;
}

.nav-tab-shape {
  color: #000000;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  border-radius: 30px;
}

.color-red {
  color: #dd5353;
}

.button-white {
  display: inline-block;
  border-radius: 7px;
  background-color: #f7f6f6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
}

.button-try {
  width: 550px;
  transition: all 0.5s;
  cursor: pointer;
}

.button-try span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-try span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button-try:hover span {
  padding-right: 15px;
}

.button-try:hover span:after {
  opacity: 1;
  right: 0;
}

.button-cal {
  width: 320px;
}

.button-discord {
  width: 230px;
}

.webpageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(221, 83, 83, 1), 0 0 20px 5px rgba(221, 83, 83, 0.8),
    0 0 30px 15px rgba(221, 83, 83, 0.5);
}

.hero-head-text {
  max-width: 1100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(35, 15px);
  grid-template-rows: repeat(35, 15px);
  grid-gap: 20px;
  width: 1200px;
  height: auto;
  padding-bottom: 100px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 20;
}

.trig-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #dd5353;
  padding-bottom: 30px;
}

.trig-section svg {
  position: relative;
  display: block;
  width: calc(206% + 1.3px);
  height: 124px;
}

.trig-section .shape-fill {
  fill: #ffffff;
}

section {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.red-section {
  background-color: #dd5353;
}

.text-white {
  color: white;
}

.card-section {
  display: flex;
  justify-content: center;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 1200px;
}

.card-web {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  height: 250px;
}


.box-cards {
  position: relative;
  top: 0px;
  width: auto;
  display: flex;
  margin: 24px;
  max-width: 1200px;
  height: 1200px;
}



.avasfasvdfdv{
  height: auto;
  width: 650px;
  position: absolute;
  background-color: #DD5353;
  border-radius: 8px;
  padding: 20px;
  color: white;
  
}

.avasfasvdf
{position: absolute;
  }

.avasfasvdf:nth-child(1) {
  top: 495px;
  left: 0%;
  width: 44%;
}

.avasfasvdf:nth-child(2) {
  top: 495px;
  left: 47%;
  width: 53%; 
}

.avasfasvdf:nth-child(3) {
  top: 970px;
  left: 47%;
  width: 53%;
}

.avasfasvdf:nth-child(4) {
  top: 0;
  left: 0%;
  width: 40%;
}

.avasfasvdf:nth-child(5) {
  max-height: 530px;
  top: 0;
  left: 43%;
  width: 57%;
}

.avasfasvdf:nth-child(6) {
  top: 1050px;
  left: 45%;
  width: 5%;
}

.avasfasvdf:nth-child(7) {
  top: 1000px;
  left: 5%;
  width: 45%;
}

.shawdow-card {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
  border-radius: 8px;
  border: 7px solid #dd5353;
}

.avasfasvdfhac{
  height: auto;
  width: 500px;
  background-color: #DD5353;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.scroller {
  max-width: 900px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 90s forwards linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.discord-role{
  background-color: #2B2D31;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  list-style-type: none;
}


.hackathon-card {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  background-color: white;
  color: black;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hackathon-img-front {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 200px;
  width: 350px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.hackathon-img-back {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 200px;
  width: 350px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.hackathon-card-imgtext {
  position: absolute;
  top: 35%;
  text-align: left;
  
}

.card-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: linear-gradient(
    to top, red, transparent
  );
}