/* styles.css */
*{
    font-family: "Arial", sans-serif;
    font-weight: bold;
}
/* Global styles */
body {
    background-color: #121212;
    color: #ffffff;
}

.headingtext {
    font-family: "Offside", sans-serif;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body .dark-mode {
    background-color: #121212;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.nav-bar {
    color:#000000;
    background-color: #E4E4E4;
}

.nav-bar span{
    color:#000000;
}

.nav li{
    color:#e60303;
}

.team-form {
    color:#424040;
}

.card-header-color {
    color: #ffffff;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    background: #000;
    backface-visibility: hidden;
    outline: 10px solid #000; 
}

.flip-card-front {
    background-color: #f8f9fa;
    color: #000;
    border: 5px solid #000;
    outline: 10px solid #000; 
}

.flip-card-back {
    background-color: #343a40;
    color: #000;
    transform: rotateY(180deg);
    outline: 10px solid #000; 
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-radius: 30px;
    outline: 7px solid #000; 
}

.lockedheight{
    height: 500px;
    max-width: 430px;
    
}

.roundedcards {
    border-radius: 30px;
}

.coolbody {
    background: linear-gradient(135deg, #000000, rgb(207, 202, 209));
}