* {
  font-family: "Arial", sans-serif;
  font-weight: bold;
}

body {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.inter-headtext {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 530;
  font-style: normal;
  font-size: 85px;
  font-variation-settings: "slnt" 0;
}

.inter-bodytext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 25px;
  font-variation-settings: "slnt" 0;
}

.inter-mintext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 60px;
  font-variation-settings: "slnt" 0;
}

.intro-text {
  max-width: 1200px;
  padding-top: 100px;
}

.hero-text {
  max-width: 800px;
}
a {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  color: #000000;
  background-color: #e4e4e4;
}

.nav-bar span {
  color: #000000;
}

.nav li {
  color: #e60303;
}

.team-form {
  color: #424040;
}

.card-header-color {
  color: #ffffff;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  background: #000;
  backface-visibility: hidden;
  outline: 10px solid #000;
}

.flip-card-front {
  background-color: #f8f9fa;
  color: #000;
}

.flip-card-back {
  background-color: #343a40;
  color: #000;
  transform: rotateY(180deg);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-radius: 30px;
  outline: 10px solid #000;
}

.lockedheight {
  height: 500px;
  max-width: 430px;
}

.roundedcards {
  border-radius: 30px;
}

.coolbody {
  background: linear-gradient(135deg, #000000, rgb(207, 202, 209));
}

.introtext {
  color: #ffffff;
}

.Canada {
  display: block;
}
.Online {
  display: block;
}
.United {
  display: block;
}

.navbarchoice {
  background-color: black;
  border-radius: 50px;
}

.nav-tab-shape {
  color: #000000;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  border-radius: 30px;
}

.color-red {
  color: #dd5353;
}

.button-white {
  display: inline-block;
  border-radius: 7px;
  background-color: #f7f6f6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
}

.button-try {
  width: 550px;
  transition: all 0.5s;
  cursor: pointer;
}

.button-try span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-try span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button-try:hover span {
  padding-right: 15px;
}

.button-try:hover span:after {
  opacity: 1;
  right: 0;
}

.button-cal {
  width: 320px;
}

.button-discord {
  width: 230px;
}

.webpageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(221, 83, 83, 1), 0 0 20px 5px rgba(221, 83, 83, 0.8),
    0 0 30px 15px rgba(221, 83, 83, 0.5);
}

.hero-head-text {
  max-width: 1100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(35, 15px);
  grid-template-rows: repeat(35, 15px);
  grid-gap: 20px;
  width: 1200px;
  height: auto;
  padding-bottom: 100px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 20;
}

.trig-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #dd5353;
  padding-bottom: 30px;
}

.trig-section svg {
  position: relative;
  display: block;
  width: calc(206% + 1.3px);
  height: 124px;
}

.trig-section .shape-fill {
  fill: #ffffff;
}

section {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.red-section {
  background-color: #dd5353;
}

.text-white {
  color: white;
}

.card-section {
  display: flex;
  justify-content: center;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 1200px;
}

.card-web {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  height: 250px;
}


.box-cards {
  position: relative;
  top: 0px;
  width: auto;
  display: flex;
  margin: 24px;
  max-width: 1200px;
  height: 1200px;
}



.avasfasvdfdv{
  height: auto;
  width: 650px;
  position: absolute;
  background-color: #DD5353;
  border-radius: 8px;
  padding: 20px;
  color: white;
}

.avasfasvdf
{position: absolute;}

.avasfasvdf:nth-child(1) {
  top: 0;
  left: 0%;
  width: 45%;
}

.avasfasvdf:nth-child(2) {
  top: 0;
  left: 50%;
  width: 50%; 
}

.avasfasvdf:nth-child(3) {
  top: 450px;
  left: 50%;
  width: 50%;
}

.avasfasvdf:nth-child(4) {
  top: 630px;
  left: 0%;
  width: 31%;
}

.avasfasvdf:nth-child(5) {
  max-height: 530px;
  top: 630px;
  left: 43%;
  width: 57%;
}

.avasfasvdf:nth-child(6) {
  top: 475px;
  left: 48%;
  width: 5%;
}


