* {
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

body {
  color: #000000;
}

.inter-headtext {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 530;
  font-style: normal;
  font-size: 85px;
  font-variation-settings: "slnt" 0;
}

.inter-bodytext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 25px;
  font-variation-settings: "slnt" 0;
}

.inter-mintext {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  font-size: 60px;
  font-variation-settings: "slnt" 0;
}

.intro-text {
  max-width: 1200px;
  padding-top: 100px;
}

.hero-text {
  max-width: 800px;
}
a {
  text-decoration: none;
  color: #000000;
}

.nav-bar {
  color: #000000;
  background-color: #e4e4e4;
}

.nav-bar span {
  color: #000000;
}

.nav li {
  color: #e60303;
}

.team-form {
  color: #424040;
}

.card-header-color {
  color: #ffffff;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-radius: 30px;
  outline: 10px solid #000;
}

.lockedheight {
  height: 420px;
  max-width: 400px;
}

.roundedcards {
  border-radius: 30px;
}

.introtext {
  color: #ffffff;
}

.Canada {
  display: block;
}
.Online {
  display: block;
}
.United {
  display: block;
}

.navbarchoice {
  background-color: black;
  border-radius: 50px;
}

.nav-tab-shape {
  color: #000000;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
  border-radius: 30px;
}

.color-red {
  color: #dd5353;
}

.button-white {
  display: inline-block;
  border-radius: 7px;
  background-color: #f7f6f6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
}

.button-try {
  width: 550px;
  transition: all 0.5s;
  cursor: pointer;
}

.button-try span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-try span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button-try:hover span {
  padding-right: 15px;
}

.button-try:hover span:after {
  opacity: 1;
  right: 0;
}

.button-cal {
  width: 320px;
}

.button-discord {
  width: 230px;
}

.webpageimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(221, 83, 83, 1), 0 0 20px 5px rgba(221, 83, 83, 0.8),
    0 0 30px 15px rgba(221, 83, 83, 0.5);
}

.hero-head-text {
  max-width: 1100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(35, 15px);
  grid-template-rows: repeat(35, 15px);
  grid-gap: 20px;
  width: 1200px;
  height: auto;
  padding-bottom: 100px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 1;
  grid-row-end: 20;
}

.trig-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #dd5353;
  padding-bottom: 30px;
}

.trig-section svg {
  position: relative;
  display: block;
  width: calc(206% + 1.3px);
  height: 124px;
}

.trig-section .shape-fill {
  fill: #ffffff;
}

section {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.red-section {
  background-color: #dd5353;
}

.text-white {
  color: white;
}

.card-section {
  display: flex;
  justify-content: center;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 1200px;
}

.card-web {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 350px;
  height: 250px;
}

.hackathon-card {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  background-color: white;
  color: black;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.hackathon-img-front {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 200px;
  width: 350px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.hackathon-img-back {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 200px;
  width: 350px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}

.hackathon-card-div {
  position: absolute;
  top: 0%;
  z-index: 2;
  height: 200px;
  width: 350px;
  color: white;
  background: linear-gradient(to top, rgba(157, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.card-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: linear-gradient(to top, red, transparent);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.search-bar {
  display: flex;
  gap: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.search-bar > div {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 5px;
}
.search-bar > div:hover {
  background-color: #f9f9f9;
}
.search-bar p {
  margin: 0;
}
.search-bar input,
.search-bar button {
  border: 0px solid #ccc;
  border-radius: 5px;
}

.filters {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: row;
}

.filter-option {
  text-align: center;
  margin: 0 20px;
}

.filter-option img {
  height: 50px;
}

.filter-option p {
  margin: 10px 0 0;
}

.nav-head-text {
  color: #000;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: 90.3%; /* 20.643px */
}

.nav-link-text-parent {
  color: #181818;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-link-text-child {
  text-decoration: none;
  color: #000;
}

.nav-link-sign {
  flex-shrink: 0;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff5a50 0%, #ef233c 100%);
  box-shadow: 0px 0px 12px -1px #eb5757;
  color: #fff;
}

.hero {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  position: relative;
}
.hero h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
.hero p {
  font-size: 1.25rem;
  margin: 10px 0;
}
.hero .btn-start {
  margin: 20px 0px;
  padding: 10px 40px;
  font-size: 1rem;
  color: #fff;
  border-radius: 100px;
  background: linear-gradient(90deg, #ff5a50 0%, #ef233c 100%);
  box-shadow: 0px 0px 12px -1px #eb5757;
  border: none;

  cursor: pointer;
}
.hero .btn-start:hover {
  background-color: #e04350;
}
.social-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.social-icons a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}
.footer {
  background-color: #0e1822;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.footer .footer-logo {
  display: flex;
  align-items: center;
}
.footer .footer-logo img {
  max-width: 50px;
  margin-right: 10px;
}
.footer nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer nav a {
  color: rgba(141, 141, 141, 0.72);
  text-decoration: none;
}
.footer nav a:hover {
  text-decoration: underline;
}
.footer .social-footer {
  display: flex;
  gap: 10px;
}

.footer .social-footer a {
  text-decoration: none;
}
.footer .social-footer img {
  width: 20px;
  height: 20px;
}
.footer p {
  color: white;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}
.footer-bottom {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #1c2731;
  font-size: 0.875rem;
}
.footer-bottom nav {
  display: flex;
  gap: 10px;
}
.footer-bottom .social-footer {
  display: flex;
  gap: 10px;
}
.footer-bottom .social-footer img {
  width: 20px;
  height: 20px;
}
.leaf {
  position: absolute;
}
.leaf1 {
  top: 40px;
  left: 40px;
}
.leaf2 {
  top: 550px;
  left: 450px;
  width: 60px;
}
.leaf3 {
  top: 50%;
  right: 200px;
  width: 80px;
}
.leaf4 {
  top: calc(100% - 40px);
  left: 50%;
  width: 30px;
  transform: translateX(-50%);
}
.leaf5 {
  top: 20px;
  right: 0;
  width: 100px;
}

.foot-head-text {
  color: white;
  font-size: 19px;
  font-style: normal;
  font-weight: 800;
  line-height: 90.3%; /* 20.643px */
}

.logo-svg-img {
  width: 38px;
  height: 38px;
}

.card-box-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.card-row-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.card-img-1 text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.header-text-black {
  color: #000;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.8px; /* 110% */
}
.header-text-red {
  color: var(--3, #e5462e);
  font-size: 58px;
  font-style: italic;
  font-weight: 700;
  line-height: 52.8px;
}
.card-header-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 0px;
}

.card-join-text {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-discord-style {
  padding: 10px 40px;
  border-radius: 10px;
  background: linear-gradient(90deg, #5865f2 0%, #505cc4 100%);
  box-shadow: 0px 0px 12px -1px #515eea;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%; /* 16.32px */
}

.button-discord-text2 {
  color: var(--7, #4a5769);
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button-discord-text1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.8px; /* 110% */
}

.button-discord-blue {
  color: #5e6ad2;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 52.8px;
}

.card-join-layout {
  position: relative;
}

.hero-text-light {
  color: #f9e7e5;
  font-size: 80px;
  font-style: italic;
  font-weight: 500;
  line-height: 101%; /* 80.8px */
}

.hero-text-dark {
  color: var(--1, #000e22);
  font-size: 58px;
  font-style: italic;
  font-weight: 500;
  line-height: 101%; /* 58.58px */
  letter-spacing: -0.58px;
  text-transform: uppercase;
}

.hero-text-red {
  color: var(--3, #e5462e);
  font-family: Rubik;
  font-size: 81px;
  font-style: italic;
  font-weight: 500;
  line-height: 101%; /* 81.81px */
  letter-spacing: 3.24px;
  text-transform: uppercase;
}

.hero-text-body {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 60vh;
}

.hero-container-layout {
  padding: 5vw 0vw 5vw 5vw;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.scroller-wrapper-layout {
  max-width: 56vw;
  width: 90%;
  height: 8vw;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  overflow: hidden;
}

.item-scroller-right-layout,
.item-scroller-left-layout {
  width: 7vw;
  height: 7.5vw;
  border-radius: 10px;
  position: absolute;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item-scroller-left-layout {
  animation-name: scrollleft;
  animation-duration: 30s;
  left: max(calc(7vw * 6), 100%);
}

.item-scroller-right-layout {
  animation-name: scrollright;
  animation-duration: 15s;
  left: -7vw;
}

@keyframes scrollleft {
  from {
  }
  to {
    left: -7vw;
  }
}

@keyframes scrollright {
  from {
  }
  to {
    left: max(calc(7vw * 6), 100%);
  }
}

.item-scroller-left-layout:nth-child(1) {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
}

.item-scroller-left-layout:nth-child(2) {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.item-scroller-left-layout:nth-child(3) {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.item-scroller-left-layout:nth-child(4) {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.item-scroller-left-layout:nth-child(5) {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.item-scroller-left-layout:nth-child(6) {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
}

.hero-scroller-layout {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-scroller-right-layout:nth-child(1) {
  animation-delay: calc(15s / 6 * (6 - 1) * -1);
}

.item-scroller-right-layout:nth-child(2) {
  animation-delay: calc(15s / 6 * (6 - 2) * -1);
}

.item-scroller-right-layout:nth-child(3) {
  animation-delay: calc(15s / 6 * (6 - 3) * -1);
}

.item-scroller-right-layout:nth-child(4) {
  animation-delay: calc(15s / 6 * (6 - 4) * -1);
}

.item-scroller-right-layout:nth-child(5) {
  animation-delay: calc(15s / 6 * (6 - 5) * -1);
}

.item-scroller-right-layout:nth-child(6) {
  animation-delay: calc(15s / 6 * (6 - 6) * -1);
}

.hero-add-button {
  border-radius: 11px;
  color: white;
  padding: 10px 30px;
  background: linear-gradient(90deg, #ff5a50 0%, #ef6c23 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero-image-position {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.card-top-text-head {
  color: white;
  font-style: normal;
  font-weight: 700;
}

.card-top-text-side {
  color: white;
  font-style: normal;
  font-weight: 700;
}

.hackathon-card-div-text {
  display: flex;
  align-items: flex-start;
}

.card-body-layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.hackathon-card-div-text {
  display: flex;
  bottom: 0px;
}

.card-body-text {
  color: black;
  font-size: 15px;
  margin-bottom: 0;
}

.fc .fc-today-button {
  border-radius: 11px;
  border: none;
  background: linear-gradient(90deg, #ff5a50 0%, #ef6c23 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0px 30px;
  padding: 5px 15px;
  color: white;
}

.fc .fc-next-button,
.fc .fc-prev-button {
  background-color: white;
}
