SECRET_KEY = "CHANGEMELOL"DEBUG = TrueDISCORD_GUILD_ID = 1186761885354311780DISCORD_ARCHIVE_CATEGORY_ID = 1196919673363632178DISCORD_ACTIVE_CATEGORY_ID = 1186762053180993576DISCORD_TOKEN = "ss"CSRF_TRUSTED_ORIGINS = ["https://hackathonscanada.com/"]# Needed if you want to use the map widgets# MAP_WIDGETS["GoogleMap"]["apiKey"] = "CHANGE_ME"  # noqa