{% load i18n %}

{% if socialaccount_providers %}
  <div class="mt-6">
    <div class="relative">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300">

        </div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white text-gray-500">
          {% translate "Or continue with" %}
        </span>
      </div>
    </div>
    {% include "socialaccount/snippets/provider_list.html" %}
  </div>
{% endif %}