{% extends 'base.html' %} {% load static %} {% block content %}

  <div class="hero-container-layout">
    <div class="container-fluid">
      <h1 class="hero-text-light">Welcome to</h1>
      <h2 class="hero-text-dark">The BEST DATABASE FOR</h2>
      <h3 class="hero-text-red">HACKATHONS</h3>
      <p class="hero-text-body">
        Browse through to find a complete list of hackathons taking place in
        Canada and North America. Join our Discord server to ask questions to the
        organizers of specific events and form teams.
      </p>
      <a href="{% url 'hackathons' %}" class="hero-add-button">
        Browse Hackathons ➜
      </a>
    </div>

  <!-- GO TO "\core\views.py" TO SEE THE COMPLETE LIST OF IMAGES  -->
    <div class="hero-scroller-layout">
      <div id="scrollerWrapperLeft" class="scroller-wrapper-layout">
        {% for image in left_images %}
          <img src="{% static image %}" class="item-scroller-left-layout" alt="Hackathon banner icon" />
        {% endfor %}
      </div>
      <div id="scrollerWrapperRight" class="scroller-wrapper-layout">
        {% for image in right_images %}
          <img alt="Hackathon banner icon" src="{% static image %}" class="item-scroller-right-layout" />
        {% endfor %}
      </div>
    </div>
  </div>

  <img class="hero-image-position text-center" src="{% static 'assets/homegra.png'%}" />

  <div class="card-header-layout mt-5">
    <h5 class="header-text-black">
      More than just a
      <span class="header-text-red">website.</span>
    </h5>
  </div>
  <div class="card-box-layout">
    <div class="card-row-layout">
      <a>
        <div>
          <img class="card-img-stack" src="{% static 'assets/hackcanadabg.png' %}" alt="Image 2" />
        </div>
      </a>
      <a href="https://discord.gg/m5GPTnT5YB">
        <img class="" src="{% static 'assets/discord.png' %}" alt="Image 1" />
      </a>
    </div>
    <div class="card-row-layout">
      <a src = "https://konfer.ca/">
        <img class="" src="{% static 'assets/discordcard.png' %}" alt="Image 2" />
      </a>
      <a href="https://calendar.google.com/calendar/u/0?cid=M2Y0ODA2MjUxYTZjMGZhYTMwZWE3ZmE0YmI0NTdjMmE1NTI0ZWZlNGUzZjMwMDc4NmJlMmVlNWRjOGU1MTE3MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">
        <img class="" src="{% static 'assets/gcal.png' %}" alt="Image 1" />
      </a>
    </div>



    <div class="card-join-layout">
      <div class="card-join-image">
        <img src="{%static 'assets/jointeam.png'%}" />
      </div>
      <div class="card-join-text">
        <h4 class="button-discord-text1">
          Interested In Joining
          <span class="button-discord-blue">Our Team?</span>
        </h4>
        <h5 class="button-discord-text2 mt-3">
          develop apps, web applications and software for hackathons <br />
          and particapte in organizing our own hackathon.
        </h5>
        <a href="#" class="button-discord-style mt-3 py-2">Apply Here ➜</a>
      </div>
    </div>

    <div class="w-full flex flex-col justify-center items-center mt-5">
      <p class='header-text-black mb-5'>FAQ<span class='header-text-red'>s</span></p>
      <div class='w-8/12 flex flex-col gap-y-4'>
          <!-- Accordion 1 -->
        <div class="border-2 w-full rounded-lg">
          <button class="w-full bg-white-200 p-4 text-left" onclick="toggleAccordion(1)">
            <div class='flex justify-between items-center'>
              <span class="font-semibold">Accordian Item #1</span>
              <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
            </div>
          </button>
          <div id="accordion-content-1" class="p-4 hidden bg-white">
            <p>This is the first item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.</p>
          </div>
        </div>

          <!-- Accordion 2 -->
        <div class="w-full border-2 rounded-lg">
          <button class="w-full rounded-lg bg-white-200 p-4 text-left" onclick="toggleAccordion(2)">
            <div class='flex justify-between items-center'>
              <span class="font-semibold">Accordian Item #1</span>
              <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
            </div>
          </button>
          <div id="accordion-content-2" class="p-4 hidden bg-white">
            <p>This is the second item's accordion body. It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the .accordion-body, though the transition does limit overflow.</p>
          </div>
        </div>

          <!-- Accordion 3 -->
        <div class="w-full border-2 rounded-lg">
          <button class="w-full rounded-lg bg-white-200 p-4 text-left" onclick="toggleAccordion(3)">
            <div class='flex justify-between items-center'>
              <span class="font-semibold">Got more quesions ? </span>
              <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
            </div>
          </button>
          <div id="accordion-content-3" class="p-4 hidden bg-white">
            <p>Reach out on our discord server.</p>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="hero">
    <h1>
      READY TO <span class="fw-bold fst-italic"> HACK YOUR WAY </span> <br />
      TO SUCCESS?
    </h1>
    <p>Join to discover upcoming hackathons in Canada.</p>
    <button class="btn-start">Get Started</button>
    <div class="social-icons">
      <a href="#"><img class="logo-svg-img" src="{% static 'assets/insta.svg'%}" /></a>
      <a href="#"><img class="logo-svg-img" src="{% static 'assets/linkedin.svg'%}" /></a>
    </div>
    <img src="{% static 'assets/leaf1.png'%}" class="leaf leaf1" alt="Leaf Image" />
    <img src="{% static 'assets/leaf2.png'%}" class="leaf leaf2" alt="Leaf Image" />
    <img src="{% static 'assets/leaf3.png'%}" class="leaf leaf3" alt="Leaf Image" />
    <img src="{% static 'assets/leaf3.png'%}" class="leaf leaf4" alt="Leaf Image" />
    <img src="{% static 'assets/leaf4.png'%}" class="leaf leaf5" alt="Leaf Image" />
  </div>

  <script>
    function toggleAccordion(index) {
      const content = document.getElementById(`accordion-content-${index}`);
      const allContents = document.querySelectorAll('[id^="accordion-content-"]');

      allContents.forEach((item) => {
        if (item !== content) {
          item.classList.add('hidden');
        }
      });

      content.classList.toggle('hidden');
    }
  </script>
{% endblock %}