{% extends 'base.html' %} {% load static %} {% block content %}

  <div class="hero-container-layout">
    <div class="container-fluid">
      <h1 class="hero-text-light">Welcome to</h1>
      <h2 class="hero-text-dark">The BEST DATABASE FOR</h2>
      <h3 class="hero-text-red">HACKATHONS</h3>
      <p class="hero-text-body">
        Browse through to find a complete list of hackathons taking place in
        Canada and North America. Join our Discord server to ask questions to the
        organizers of specific events and form teams.
      </p>
      <a href="{% url 'hackathons' %}" class="hero-add-button">
        Browse Hackathons ➜
      </a>
    </div>

  <!-- GO TO "\core\views.py" TO SEE THE COMPLETE LIST OF IMAGES  -->
    <div class="hero-scroller-layout">
      <div id="scrollerWrapperLeft" class="scroller-wrapper-layout">
        {% for image in left_images %}
          <img src="{% static image %}" class="item-scroller-left-layout" alt="Hackathon banner icon" />
        {% endfor %}
      </div>
      <div id="scrollerWrapperRight" class="scroller-wrapper-layout">
        {% for image in right_images %}
          <img alt="Hackathon banner icon" src="{% static image %}" class="item-scroller-right-layout" />
        {% endfor %}
      </div>
    </div>
  </div>

  <img class="text-center hero-image-position" src="{% static 'assets/homegra.png'%}" />

  <div class="mt-5 card-header-layout">
    <h5 class="header-text-black">
      More than just a
      <span class="header-text-red">website.</span>
    </h5>
  </div>
  <div class="card-box-layout">
    <div class="card-row-layout">
      <a>
        <div>
          <img class="card-img-stack" src="{% static 'assets/hackcanadabg.png' %}" alt="Image 2" />
        </div>
      </a>
      <a href="https://discord.gg/m5GPTnT5YB">
        <img class="" src="{% static 'assets/discord.png' %}" alt="Image 1" />
      </a>
    </div>
    <div class="card-row-layout">
      <a src = "https://konfer.ca/">
        <img class="" src="{% static 'assets/discordcard.png' %}" alt="Image 2" />
      </a>
      <a href="https://calendar.google.com/calendar/u/0?cid=M2Y0ODA2MjUxYTZjMGZhYTMwZWE3ZmE0YmI0NTdjMmE1NTI0ZWZlNGUzZjMwMDc4NmJlMmVlNWRjOGU1MTE3MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">
        <img class="" src="{% static 'assets/gcal.png' %}" alt="Image 1" />
      </a>
    </div>



    <div class="card-join-layout">
      <div class="card-join-image">
        <img src="{%static 'assets/jointeam.png'%}" />
      </div>
      <div class="card-join-text">
        <h4 class="button-discord-text1">
          Interested In Joining
          <span class="button-discord-blue">Our Team?</span>
        </h4>
        <h5 class="mt-3 button-discord-text2">
          develop apps, web applications and software for hackathons <br />
          and particapte in organizing our own hackathon.
        </h5>
        <a href="#" class="py-2 mt-3 button-discord-style">Apply Here ➜</a>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center w-full mt-5">
      <p class='mt-10 mb-5 header-text-black'>FAQ<span class='header-text-red'>s</span></p>
      <div class='grid w-8/12 grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2'>
          <!-- Accordion 1 -->
        <div class = "w-full">
          <div class="w-full mt-3 border-2 rounded-lg">
            <button class="w-full p-4 text-left bg-white-200" onclick="toggleAccordion(1)">
              <div class='flex items-center justify-between'>
                <span class="font-semibold">Who are we?</span>
                <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
              </div>
            </button>
            <div id="accordion-content-1" class="hidden px-4 pb-4 bg-white">
              <p>We’re hacker's one-stop shop for everything hackathons related in North America! Discover upcoming hackathons near YOU, find teammates, and ask questions to organizers on our lively Discord. Plus, if you're an organizer, we’ve got you covered with sponsorship support and advertising through our amazing partners. Dive in, and let's make your hackathon journey unforgettable!</p>
            </div>
          </div>
          <!-- Accordion 2 -->
          <div class="w-full mt-3 border-2 rounded-lg">
            <button class="w-full p-4 text-left rounded-lg bg-white-200" onclick="toggleAccordion(2)">
              <div class='flex items-center justify-between'>
                <span class="font-semibold">What do Hackathons Canada Provide? </span>
                <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
              </div>
            </button>
            <div id="accordion-content-2" class="hidden px-4 pb-4 bg-white">
              <p></p>
            </div>
          </div>
        </div>
        <div class = "w-full">
          <!-- Accordion 3 -->
          <div class="w-full mt-3 border-2 rounded-lg">
            <button class="w-full p-4 text-left rounded-lg bg-white-200" onclick="toggleAccordion(3)">
              <div class='flex items-center justify-between'>
                <span class="font-semibold">How do I add a Hackathon to your website?</span>
                <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
              </div>
            </button>
            <div id="accordion-content-3" class="hidden px-4 pb-4 bg-white">
              <p>Head over to over to our hackathon form here:<a href="{% url 'add_hackathons' %}" >Add Hackathon</a> or let us know on our discord. Once the information has be verified, the hackathon will be added to our website and discord.</p>
            </div>
          </div>
        <!-- Accordion 3 -->
          <div class="w-full mt-3 border-2 rounded-lg">
            <button class="w-full p-4 text-left rounded-lg bg-white-200" onclick="toggleAccordion(4)">
              <div class='flex items-center justify-between'>
                <span class="font-semibold">Got more quesions ? </span>
                <img src='/static/assets/down-arrow.svg' class='w-[20px] h-[20px]'></img>
              </div>
            </button>
            <div id="accordion-content-4" class="hidden px-4 pb-4 bg-white">
              <p>Reach out on our discord server.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="hero">
    <h1>
      READY TO <span class="fw-bold fst-italic"> HACK YOUR WAY </span> <br />
      TO SUCCESS?
    </h1>
    <p>Join to discover upcoming hackathons in Canada.</p>
    <button class="btn-start">Get Started</button>
    <div class="social-icons">
      <a href="#"><img class="logo-svg-img" src="{% static 'assets/insta.svg'%}" /></a>
      <a href="#"><img class="logo-svg-img" src="{% static 'assets/linkedin.svg'%}" /></a>
    </div>
    <img src="{% static 'assets/leaf1.png'%}" class="leaf leaf1" alt="Leaf Image" />
    <img src="{% static 'assets/leaf2.png'%}" class="leaf leaf2" alt="Leaf Image" />
    <img src="{% static 'assets/leaf3.png'%}" class="leaf leaf3" alt="Leaf Image" />
    <img src="{% static 'assets/leaf3.png'%}" class="leaf leaf4" alt="Leaf Image" />
    <img src="{% static 'assets/leaf4.png'%}" class="leaf leaf5" alt="Leaf Image" />
  </div>

  <script>
    function toggleAccordion(index) {
      const content = document.getElementById(`accordion-content-${index}`);
      const allContents = document.querySelectorAll('[id^="accordion-content-"]');

      allContents.forEach((item) => {
        if (item !== content) {
          item.classList.add('hidden');
        }
      });

      content.classList.toggle('hidden');
    }
  </script>
{% endblock %}