<!-- component -->
<!-- Browser frame mockup -->
<div class="relative">
    <!-- Toolbars -->
  <div class="w-full">
    <div class="flex items-stretch bg-gray-300 border border-gray-400 rounded-t-lg">
      <div class="px-4 pt-4 pb-3 mr-4 text-sm text-gray-400 whitespace-no-wrap flex-0">
        <i class="inline-block w-3 h-3 mx-1 bg-red-400 rounded-full"></i>
        <i class="inline-block w-3 h-3 mx-1 bg-yellow-400 rounded-full"></i>
        <i class="inline-block w-3 h-3 mx-1 bg-green-400 rounded-full"></i>
      </div>
      <div class="relative px-4 py-2 mt-2 -mb-px bg-gray-100 border-t border-gray-400 rounded-t-lg flex-0">
                <!-- Left side of tab -->
        <div class="absolute bottom-0 w-4 h-8 bg-gray-300 border-b border-r border-gray-400 rounded-br-lg sh" style="right:100%;"></div>
                <!-- Tab text -->
        <div class="w-56 pt-1 overflow-hidden text-sm whitespace-no-wrap ">
          <img> Hackathons Canada
        </div>
                <!-- Tab text fade near end -->
        <span class="absolute top-0 right-0 w-1/2 h-full m-px rounded-tr-lg"
              style="background: linear-gradient(to right, rgba(247, 250, 252, 0.0) 0%,rgb(247, 250, 252) 80%);"></span>
                <!-- Tab close button -->
        <div class="absolute top-0 right-0 pt-3 pr-2 text-xs text-gray-500">
                    <!-- <i class="fas fa-times-circle"></i> -->
          <svg class="inline-block w-4 h-4 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd"></path>
          </svg>
        </div>
                <!-- Right side of tab -->
        <div class="absolute bottom-0 w-4 h-8 bg-gray-300 border-b border-l border-gray-400 rounded-bl-lg sh" style="left:100%;"></div>
      </div>
    </div>
    <div class="flex flex-row py-2 bg-gray-100 border-b border-l border-r border-gray-400">
      <div class="px-4 py-2 text-gray-400 whitespace-no-wrap flex-0">
                <!-- <i class="mx-1 fas fa-arrow-left"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                clip-rule="evenodd"></path>
        </svg>
                <!-- <i class="mx-1 fas fa-arrow-right"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
                <!-- <i class="mx-1 fas fa-sync"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z"
                clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="flex-1 px-4 py-2 my-auto overflow-hidden whitespace-no-wrap border border-gray-400 rounded-md">
        https://hackathonscanada.com/
      </div>
      <div class="px-4 py-2 text-gray-400 whitespace-no-wrap flex-0">
                <!-- <i class="mx-1 fas fa-download"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
                <!-- <i class="mx-1 fas fa-user-circle"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                clip-rule="evenodd"></path>
        </svg>
                <!-- <i class="mx-1 fas fa-bars"></i> -->
        <svg class="inline-block w-6 h-6 mx-px" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
      </div>
    </div>
  </div>
    <!-- Faux Sides -->
  <div class="absolute left-0 w-full h-16 border-l border-r border-gray-400"></div>
</div>

<!-- Page Content  -->

<div class="w-full border-b border-gray-400 border-x">
  <div class="container text-center">
    <form action="/hackathons/" method="GET" class="flex flex-wrap items-center justify-center max-w-4xl p-6 mx-auto my-6 mt-4 bg-white rounded-md shadow-lg">
      <div class="w-full px-2 mb-4 md:w-1/4 md:mb-0">
        <label class="block text-sm font-medium text-gray-600" for="city">Where</label>
        <input type="text" id="city" name="city" value="" placeholder="Search cities/state/region" class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
      </div>
      <div class="w-full px-2 mb-4 md:w-1/4 md:mb-0">
        <label class="block text-sm font-medium text-gray-600" for="start">Start</label>
        <input type="date" id="start" name="start" value="" class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
      </div>
      <div class="w-full px-2 mb-4 md:w-1/4 md:mb-0">
        <label class="block text-sm font-medium text-gray-600" for="end">End</label>
        <input type="date" id="end" name="end" value="" class="w-full text-sm bg-gray-100 border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
      </div>
      <input type="hidden" name="view_type" value="">
      <input type="hidden" name="country" value="">
      <div class="w-full px-2 md:w-1/4">
        <button type="submit" class="w-full px-6 py-2 text-sm font-semibold text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-300 focus:outline-none">
          Search
        </button>
      </div>
    </form>


    <div class="flex flex-row justify-between pb-3 mt-3 text-black border-b-2 border-gray-500 md:pb-0">
      <div class="hidden p-1 mx-5 bg-gray-100 border border-gray-100 rounded-lg sm:inline-flex">
        <a href="/hackathons/?view_type=calendar&amp;country=none&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          Calendar
        </a>
        <a href="/hackathons/?view_type=cards&amp;country=none&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          Cards
        </a>
        <a href="/hackathons/?view_type=list&amp;country=none&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm rounded-md focus:relative">
          List
        </a>
      </div>

      <div class="inline-flex p-1 mx-5 bg-gray-100 border border-gray-100 rounded-lg">

        <a href="/hackathons/?view_type=none&amp;country=Canada&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          Canada
        </a>

        <a href="/hackathons/?view_type=none&amp;country=United States&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          United States
        </a>

        <a href="/hackathons/?view_type=none&amp;country=Online&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          Online
        </a>

        <a href="/hackathons/?view_type=none&amp;country=World Wide&amp;start=&amp;end=&amp;city=" class="inline-flex items-center gap-2 px-4 py-2 text-sm text-black rounded-md hover:text-gray-700 focus:relative">
          World Wide
        </a>

      </div>

    </div>

    <div class="text-center">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 place-items-center"></div>
      </div>
    </div>

  </div>

</div>


