<div class="hidden sm:inline-flex p-1 mx-5 bg-gray-100 border border-gray-100 rounded-lg">
  <a href="{% url 'hackathons' %}?view_type=calendar&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
     class="{% if type == 'calendar' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative">
    Calendar
  </a>
  <a href="{% url 'hackathons' %}?view_type=cards&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
     class="{% if type == 'cards' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm text-gray-500 rounded-md hover:text-gray-700 focus:relative">
    Cards
  </a>
  <a href="{% url 'hackathons' %}?view_type=list&country={{ request.GET.country|default:'none' }}&start={{ request.GET.start }}&end={{ request.GET.end }}&city={{ request.GET.city }}"
     class="{% if type == 'list' %}text-blue-500 bg-white{% endif %} inline-flex items-center gap-2 px-4 py-2 text-sm rounded-md focus:relative">
    List
  </a>
</div>
